---
import "../styles/global.css";
---

<nav transition:persist class="flex flex-row text-2xl font-bold w-full justify-center md:mt-20 mt-10" >

	<div class="flex border-solid border-2 border-[#c8a96e] rounded-xl width-80  justify-between">
		<a href="/code" class="px-8 py-4 rounded-xl hover:text-white hover:bg-neutral-900 hover:shadow-3xl transition-all duration-300 ease-in-out" >CODEHUB</a>
		<a href="/" class="px-8 py-4 rounded-xl hover:text-white hover:bg-neutral-900 hover:shadow-3xl transition-all duration-300 ease-in-out">INICIO</a>
		<a href="/historial" class="px-8 py-4 rounded-xl hover:text-white hover:bg-neutral-900 hover:shadow-3xl transition-all duration-300 ease-in-out">HISTORIAL</a>
	</div>

</nav>
